body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://wallpaperaccess.com/full/4070962.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 16px;
  background: linear-gradient(45deg, #e02628, #faea17, #2da9dd, #316881);
  background-size: 800% 300%;
  animation: gradient 5s linear infinite;
  animation-direction: alternate;
  }
  
  @keyframes gradient {
     0% {
       background-position: 0%;
     }

     100% {
       background-position: 100%;
     }
   }

.title {
  font-family: 'Bangers', cursive;
  font-size: 90px;
}

.logo  img {
  height: 80px;
  width: 80px;
}

.main {
  width: 700px;
  margin: 0 auto;
  margin-top: 20px;
}

#search-bar {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  font-size: 20px;
  margin-bottom: 50px;
  border-radius: 30px;
  border: none;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-family: 'Inconsolata',  monospace;
}

.search-input::placeholder{
  color: white;
  font-style: italic;
} 

.search-result {
  display: flex;
  background: #fff;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: 20px solid black;
  border-radius: 15px;
  font-family: 'Inconsolata',  monospace;
}

.search-result .left img {
  height: 250px;
  border: 10px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-result .right {
  padding-left: 30px;
}

.search-result .right h1 {
  margin-top: 5px;
  font-family: 'Bangers', cursive;
  text-shadow: 2px 2px 8px #FF0000;
}

.full-name {
  font-size:20px;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;

}

.stats {
  padding: 5px 0;
}

.stats div {
  font-size: 20px;
  
}

@media (max-width: 480px) {
  
  body {
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
  }
  
  .navbar { 
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    padding: 15px 0;
    
  }

  .title {
    font-size: 2em;
  }

  .logo img {
    height: 4em;
    width: 4em;
  }

  .main {
    width: 90%;
  }

  #search-bar {
    font-size: 0.9em;
  }

  .search-result {
    height: auto;
  }

  .search-result .left img {
    height: 10em;
  }

  .search-result .right {
    padding-left: 15px;
    
  }

  .search-result .right h1 {
    font-size: 1.5em;
  }

  .full-name {
    font-size: 1em;
  }

  .stats div {
    font-size: 0.75em;
  }
}